<template>
  <div class="search-wrapper">
    <div class="wrapper">
      <h1>Search your favorite stock!</h1>
      <form @submit.prevent="searchStock">
        <input
          v-model="searchQuery"
          :disabled="searching"
          type="text"
          class="search-stock"
          placeholder="try amazon, tesla, or anything ..."
        />
        <input
          :disabled="searching"
          type="submit"
          class="bt-search-stock"
          value="SEARCH"
        />
      </form>
      <span class="copyright"
        >Copyright&copy; 2019, Stockation. All Rights Reserved.</span
      >
    </div>
    <img v-show="searching" src="~assets/money.svg" class="loading" />
    <h1 v-show="empty" class="empty">No stocks found...</h1>
    <h1 v-show="error" class="error">There's something wrong...</h1>
    <StockItem v-for="stock in stocks" :key="stock.symbol" v-bind="stock" />
  </div>
</template>

<script>
import StockItem from './StockItem'
export default {
  components: {
    StockItem
  },
  data() {
    return {
      searchQuery: '',
      stocks: [],
      searching: false,
      empty: false,
      error: false
    }
  },
  methods: {
    async searchStock() {
      try {
        this.stocks = []
        this.searching = true
        this.empty = false
        this.error = false
        const {
          data: { data }
        } = await this.$axios.get('http://localhost:5000/search', {
          params: { query: this.searchQuery }
        })
        this.searching = false
        this.stocks = data
        if (this.stocks.length <= 0) this.empty = true
      } catch (err) {
        this.error = true
        this.searching = false
        console.log(err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 90px;
  height: 50px;
  animation: spinner 1s linear infinite;
}

.empty {
  font-family: 'IBM Plex Mono', monospace;
  color: $gray-5;
}

.error {
  font-family: 'IBM Plex Mono', monospace;
  color: $negative;
}

.wrapper {
  margin-bottom: 50px;
  align-self: center;
  background-color: white;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h1 {
    margin-top: 30px;
    font-family: 'IBM Plex Mono', monospace;
  }

  .copyright {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: $gray-8;
    border-bottom: 4px solid $accent;
    align-self: flex-start;
  }

  > form {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .search-stock {
      flex-grow: 1;
      user-select: none;
      min-width: 600px;
      margin-right: 20px;
      background-color: white;
      height: 60px;
      border: 4px solid black;
      font-size: 20px;
      padding: 10px;
      outline: none;
      font-family: 'Roboto Mono', monospace;
      font-weight: 700;
      color: $gray-8;
    }

    > .bt-search-stock {
      width: 150px;
      background-color: $lightPrimary;
      border: 1px solid $darkPrimary;
      box-shadow: 6px 7px 0px $darkPrimary;
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
      font-size: 24px;
      outline: none;
      color: black;

      &:hover:enabled {
        background-color: $darkPrimary;
        box-shadow: 6px 7px 0px $lightPrimary;
        color: white;
        cursor: pointer;
      }
    }
  }
}
</style>
