<template>
  <div class="background">
    <a class="logo">Stockation</a>
    <search />
  </div>
</template>

<script>
import Search from '../components/Search'

export default {
  components: {
    Search
  }
}
</script>

<style lang="scss" scoped>
.background {
  padding: 30vh 0;
  min-height: 100vh;
  width: 100%;
  background-color: $gray-3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.logo {
  position: fixed;
  top: 20px;
  left: 50px;
  font-family: 'VT323', monospace;
  color: $accent;
  letter-spacing: 3px;
  font-size: 48px;
  font-stretch: extra-expanded;
}
</style>
